.buttons {
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: flex-end;
}

.emailLink {
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.emailLink:hover {
    color: #FFF;
}