.container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    // width: 200px;
    gap: 12px;
}

.image {
    border-radius: 50px;
}

.artistName {
    color: #fff;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: capitalize;
}
