.container {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.albumCard {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 23px;
}

.artisCont {
    display: flex;
    gap: 4px;
    align-items: center;
}

.artist {
    color: rgba(255, 255, 255, 0.64);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.songs {
    color: #fff;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.imageCont {
    width: 100%;
    height: 500px;
    object-fit: contain;
}

.musicCard {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.musicCardContainer {
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.albumDetails {
    display: flex;
    justify-content: space-between;
}

.albumTitle {
    color: #fff;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.albums {
    color: #fff;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.tenSong {
    color: #fff;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.albumName {
    color: #fff;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.artistName {
    color: #ababab;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.name {
    display: flex;
}

.year {
    color: #ababab;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.naemCont {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.albumArtist {
    color: #fff;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
