@import '../../styles/colors.scss';

.musicCard {
    width: 100%;
    background-color: $PrimaryBlackTone1;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    padding: 8px 12px 8px 8px;
    align-items: center;
    cursor: pointer;
}

.musicCardPhoto {
    width: 42px;
    height: 42px;
}

.musicCard:hover {
    background-color: $PrimaryGreyHoverTone1;
}

.musicCardHeader {
    display: flex;
    align-items: center;
    gap: 14px;
}

.musicCard:hover .musicCardHoverPhoto {
    position: absolute;
    display: block;
}

.musicCardTitle {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.musicCardName {
    color: #fff;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.musicCardTeam {
    color: $PrimaryWhiteTone1;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
